<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.salambuney"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.salambuney.SplashScreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.salambuney.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.salambuney.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="templates.NewSMSTemplate"
            android:label="New Template" >
        </activity>
        <activity
            android:name="templates.EditSMSTemplate"
            android:label="Edit Template" >
        </activity>
        <activity
            android:name="templates.Templates"
            android:label="Templates" >
        </activity>
        <activity
            android:name="history.History"
            android:label="History" >
        </activity>
        <activity
            android:name="contacts.NewContact"
            android:label="New Contact" >
        </activity>
        <activity
            android:name="contacts.EditContact"
            android:label="Edit Contact" >
        </activity>
        <activity
            android:name="templates.MessageSender"
            android:label="Send Salaam" >
        </activity>
        <activity
            android:name="contacts.Numbers"
            android:label="Numbers" >
        </activity>
        <activity
            android:name=".SchedularMessageSent"
            android:label="Scheduled Message Sent"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.example.salambuney.ScheduleMessageInformation"
            android:label="Scheduled Salaam Message"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="templates.ScheduleMessage"
            android:label="Schedule Salaam" >
        </activity>
        <activity
            android:name="com.example.salambuney.MessageScheduleReadyToSend"
            android:label="Sending Salaam"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>

        <activity
            android:name="com.example.salambuney.AppInformation"
            android:label="Information"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" >
        </activity>
        
        <provider
            android:name="com.example.salambuney.SalaamDBProvider"
            android:authorities="com.example.salambuney"
            android:label="My templates"
            android:multiprocess="true" >
        </provider>

        <receiver
            android:name="templates.SMSScheduleReciever"
            android:enabled="true" >
        </receiver>
    </application>

</manifest>